@import "@factivist/tailwind-config";

@source "../../../../packages/ui/web/src/**/*.{ts,tsx}";

@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
